<section id="torch-toolbar">
  <div class="torch-container">
    <.link href={~p"/admin/posts"} class="torch-button"><%= Torch.I18n.message("Cancel") %></.link>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Edit Post</h3>
    </div>
    <.post_form changeset={@changeset} action={~p"/admin/posts/#{@post}"} />
  </div>
</section>
